<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}" />
<link href="../static/css/style.css" rel="stylesheet"
	th:href="@{/css/style.css}" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous" />
<script src="../static/js/jquery-3.4.1.min.js"
	th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</head>
<body>

	<form id="signup-form" class="text-center border rounded p-5"
		th:action="@{/sign-up}" method="post" th:object="${user}"
		enctype="multipart/form-data">
		<img id="logo-myservice" src='../static/img/service-logo.png'
			th:src='@{/img/service-logo.png}' />
		<p class="h4 mb-4">Create new account</p>
		<div class="form-row">
			<div class="col">
				<span th:if="${#fields.hasErrors('firstName')}"
					class="validation-error" th:errors="*{firstName}"></span> <input
					type="text" class="form-control mb-4" placeholder="First name"
					name="firstName" />
			</div>
			<div class="col">
				<span th:if="${#fields.hasErrors('lastName')}"
					class="validation-error" th:errors="*{lastName}"></span> <input
					type="text" class="form-control mb-4" placeholder="Last Name"
					name="lastName" />
			</div>
		</div>
		<span th:if="${#fields.hasErrors('username')}"
			class="validation-error" th:errors="*{username}"></span> <input
			type="text" class="form-control mb-4" placeholder="Username"
			name="username" /> <span th:if="${#fields.hasErrors('password')}"
			class="validation-error" th:errors="*{password}"></span><input
			type="password" class="form-control mb-4" placeholder="Password"
			name="password" /> <input type="password" class="form-control mb-4"
			placeholder="Confirm password" name="matchingPassword" /> <input
			type="email" class="form-control mb-4" placeholder="Email"
			name="email" /><span th:if="${#fields.hasErrors('phoneNumber')}"
			class="validation-error" th:errors="*{phoneNumber}"></span> <input
			type="text" class="form-control mb-4" placeholder="Phone number"
			name="phoneNumber" /> <span th:if="${#fields.hasErrors('address')}"
			class="validation-error" th:errors="*{address}"></span> <input
			type="text" class="form-control mb-4" placeholder="Address"
			name="address" /> <label>Izaberi profilnu sliku: </label><input
			type="file" id="choose-photo" name="image" multiple="multiple" /> <br />
		<input type="hidden" id="csrf_token" name="${_csrf.parameterName}"
			value="${_csrf.token}" /> <br /> <input
			class="btn btn-info btn-block" type="submit" value="Sign up" />

		<div th:if="${param.error}" id="login-error"
			class="alert alert-danger">Invalid username or password.</div>
		<div class="col-md-12 ">
			<div class="login-or">
				<hr class="hr-or" />
				<span class="span-or">or</span>
			</div>
		</div>
		<div class="form-group">
			<p class="text-center">
				Already have account? <a href="http://localhost:9999/auth/login"
					id="login">Log in here</a>
			</p>
		</div>
	</form>
</body>
</html>