<div class="container">
    <img id="home-background" src="/assets/img/background.jpg">
    <div id="home-text">
        <p class="bold-text">Foodie je servis za lako i brzo naručivanje hrane iz najboljih restorana u Novom Sadu. Napravite sami porudžbinu na sajtu ili naručite hranu pozivajući naš korisnički servis 066/000-11-11. U što kraćem roku porudžbina će biti dostavljena na željenu
            adresu.
        </p>
        <p class="light-text">Izaberite kategoriju restorana:</p>
    </div>
</div>
<div class="search-part">
    <div class="row" id="categories">
        <div class="col-md-2 text-center"><img src="/assets/img/cook.png">
            <p>domaća kuhinja</p>
        </div>
        <div class="col-md-2 text-center"><img src="/assets/img/fast-food.png">
            <p>brza hrana</p>
        </div>
        <div class="col-md-2 text-center"><img src="/assets/img/chinese.png">
            <p>kineski restoran</p>
        </div>
        <div class="col-md-2 text-center"><img src="/assets/img/pizza.png">
            <p>italijanski restoran</p>
        </div>
        <div class="col-md-2 text-center"><img src="/assets/img/vegetarian.png">
            <p>vegetarijanski restoran</p>
        </div>
        <div class="col-md-2 text-center"><img src="/assets/img/cupcake.png">
            <p>poslastičarnica</p>
        </div>
    </div>
    <br/>
    <p class="light-text">... ili izvršite detaljniju pretragu restorana i artikala: </p>
</div>