#home-background {
    background-size: cover;
    width: 100%;
}

.container {
    position: relative;
    padding: 0px;
    max-width: 100% !important;
}

#home-text {
    position: absolute;
    width: 700px;
    text-align: left;
    top: 20px;
}

.light-text {
    margin-bottom: 0px;
    font-weight: 100;
    font-size: 18px;
    margin-left: 20px;
    font-family: Nunito;
}

.bold-text {
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
    font-family: Nunito;
    margin-right: 20px;
}

.row img {
    max-width: 50px;
}

.row {
    left: 20px;
}

.choose-category {
    width: 800px;
    margin-left: 20px;
}

#search {
    margin-top: 30px;
    margin-left: 30px;
    width: 800px;
}

.col-sm-6 .first {
    padding-left: 0px;
}

.col-sm-6 .second {
    padding-left: 20px;
}

.btn-sm {
    background-color: #ECA106;
}

.vl {
    margin-right: 70px;
    border-left: 3px solid #ECA106;
    height: 420px;
    margin-left: 70px;
}

fa-icon {
    color: #ECA106;
}

.main {
    margin-right: 0px;
}

.recommending {
    border-left: 3px solid #ECA106;
}

.recommending-title {
    width: 200px;
    margin: 0 auto;
}

.col-md-7 {
    padding-left: 0px;
}

.popular {
    padding-top: 10px;
    margin-bottom: 30px;
}

.listing {
    padding-right: 10px;
}

h6 {
    min-height: 39px;
}

.price {
    margin-bottom: 0px;
}

.restaurant-link {
    color: black;
    margin-left: 5px;
}

.item-link {
    cursor: pointer;
    color: #ECA106 !important;
}

#input-quantity {
    width: 50px;
}