<div class="container">
    <img id="home-background" src="/assets/img/background.jpg">
    <div id="home-text">
        <p class="bold-text">Foodie je servis za lako i brzo naručivanje hrane iz najboljih restorana u Novom Sadu. Napravite sami porudžbinu na sajtu ili naručite hranu pozivajući naš korisnički servis 066/000-11-11. U što kraćem roku porudžbina će biti dostavljena na željenu
            adresu.
        </p>
        <p class="light-text">Izaberite kategoriju restorana:</p>
    </div>
</div>
<div class="row main">
    <div class="col-md-7">
        <div class="choose-category">
            <div class="row" id="categories">
                <div class="col-md-2 text-center"><img src="/assets/img/cook.png">
                    <p>domaća kuhinja</p>
                </div>
                <div class="col-md-2 text-center"><img src="/assets/img/fast-food.png">
                    <p>brza hrana</p>
                </div>
                <div class="col-md-2 text-center"><img src="/assets/img/chinese.png">
                    <p>kineski restoran</p>
                </div>
                <div class="col-md-2 text-center"><img src="/assets/img/pizza.png">
                    <p>italijanski restoran</p>
                </div>
                <div class="col-md-2 text-center"><img src="/assets/img/vegetarian.png">
                    <p>vegetarijanski restoran</p>
                </div>
                <div class="col-md-2 text-center"><img src="/assets/img/cupcake.png">
                    <p>poslastičarnica</p>
                </div>
            </div>
            <br />
            <p class="light-text">... ili izvršite detaljniju pretragu restorana i artikala: </p>
        </div>
        <div class="row" id="search">
            <div class="col-sm-6 first">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="restaurant-name" placeholder="Naziv restorana">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="restaurant-address" placeholder="Adresa restorana">
                    </div>
                    <div class="form-group">
                        <label>Kategorija:&nbsp;</label>
                        <select class="select-category" name="selectedCategory" [(ngModel)]="selectedCategory">
                            <option *ngFor="let c of categories" [ngValue]="c">{{c}}</option>
                        </select>
                    </div>
                    <br />
                    <br />
                    <div class="col text-center">
                        <button type="submit" class="btn btn-light btn-sm">Pretraži
                            restorane</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 second">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="item-name" placeholder="Naziv artikla">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="item-restaurant" placeholder="Naziv restorana">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <input type="number" class="form-control" placeholder="Cena od">
                            </div>
                            <div class="col">
                                <input type="number" class="form-control" placeholder="Cena do">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="radio" value="male" name="gender" ngModel> Piće
                        <input type="radio" value="female" name="gender" ngModel> Hrana
                    </div>
                    <div class="col text-center">
                        <button type="submit" class="btn btn-light btn-sm">Pretraži
                            artikle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-5 recommending">
        <div class="row bold-text recommending-title">
            <div class="col-xs-4">
                <fa-icon [icon]="faStar"></fa-icon>
            </div>
            <div class="col-xs-4">
                <p>Popularni artikli</p>
            </div>
            <div class="col-xs-4">
                <fa-icon [icon]="faStar"></fa-icon>
            </div>
        </div>
        <div class="listing">
            <div class="row">
                <div *ngFor="let item of popularItems" class="col-4 text-center popular">
                    <a class="item-link" (click)="openModal(item.id)">
                        <h6>{{item.name}}</h6>
                    </a>
                    <p class="price">{{item.price}} RSD</p>
                    <fa-icon [icon]="faUtensils">
                    </fa-icon><a class="restaurant-link" [routerLink]="['/restaurant', item.restaurantId]">{{item.restaurantName}}</a>


                </div>
            </div>
        </div>
    </div>
</div>

<f-modal id="home-item-modal" #homeItemModal class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{item?.name}}</h5>
                <button type="button" (click)="closeModal('home-item-modal');" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Opis: {{item?.description}}</p>
                <p>Težina: {{item?.weight}}</p>
                <b>Cena: {{item?.price}} RSD</b>
                <br>
                <br>
                <form [formGroup]="form">
                    <label>Unesite količinu: </label>&nbsp;
                    <input id="input-quantity" type="number" formControlName="quantity" />
                    <div *ngIf="form.get('quantity').pending">
                        Quantity is required.
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" [disabled]="form.invalid" (click)="addToCart(item.id)" class="btn btn-light btn-sm">Dodaj u korpu</button>
            </div>
        </div>
    </div>
</f-modal>