<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<div th:replace="fragments/head :: css-js"></div>
</head>
<body>
	<nav th:replace="fragments/head :: navbar"></nav>
	<div th:replace="fragments/head :: sidebar(credentials)"></div>
	<div class="container">
		<p>Here are the credentials for client applications you have
			created.</p>

		<table class="table">
			<thead class="thead-light">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Client name</th>
					<th scope="col">Client ID</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="client,iterationStatus: ${clients}">
					<th scope="row" th:text="${iterationStatus.count}"></th>
					<td th:text="${client.clientName}"></td>
					<td th:text="${client.clientId}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>