h3 {
    margin-top: 30px;
}

hr {
    border-bottom: 2px solid #ECA106;
}

.container {
    max-width: 850px;
    font-family: 'Nunito';
}

img {
    margin-bottom: 3px;
    max-width: 11px;
    margin-right: 3px;
}

#restaurant-name {
    margin-right: 20px;
    font-size: 20px;
}

#create-order {
    width: 147px;
    margin-bottom: 4px;
    margin-left: -12px;
}

.ok {
    background-color: #ECA106;
}