<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="/">Login</a>
    <a class="nav-item nav-link" routerLink="/">SignUp</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <p>APP WORKS...</p>
        <a class="nav-item nav-link" routerLink="/login">Login</a>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>