<div class="middlePage">
    <h2 class="panel-title">Please Sign In</h2>
    <hr>
    <br>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-5">
                <a href="{{MY_SERVICE_AUTH_URL}}"><img class="logo" src="/assets/img/myservice.png" /></a><br />
                <a href="{{FACEBOOK_AUTH_URL}}"><img class="logo" src="/assets/img/facebook.png" /></a><br />
                <a href="{{GOOGLE_AUTH_URL}}"><img class="logo" src="/assets/img/google.png" /></a>
            </div>

            <div class="col-md-7" style="border-left:1px solid #ccc;height:160px">
                <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <fieldset>

                        <input placeholder="Enter email" class="form-control input-md" type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                        </div>
                        <div class="spacing"></div>
                        <input type="password" formControlName="password" placeholder="Enter password" class="form-control input-md" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                        <div class="spacing"><a href="#"><small> Forgot Password?</small></a><br /></div>
                        <button class="btn btn-light btn-sm pull-right">Login</button>
                        <p>
                            &nbsp;Don't have account? <a routerLink="/register">Sign up here</a>
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>