<div class="middlePage">
    <h3 class="panel-title">Prijavi se na Foodie - aplikaciju za naručivanje hrane online!</h3>
    <hr>
    <br>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-5">
                <a href="{{MY_SERVICE_AUTH_URL}}"><img class="logo" src="/assets/img/myservice.png" /></a><br />
                <a href="{{FACEBOOK_AUTH_URL}}"><img class="logo" src="/assets/img/facebook.png" /></a><br />
                <a href="{{GOOGLE_AUTH_URL}}"><img class="logo" src="/assets/img/google.png" /></a>
            </div>

            <div class="col-md-7" style="border-left:1px solid #ccc;height:160px">
                <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <fieldset>

                        <input placeholder="Unesi email adresu" class="form-control input-md" type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email adresa je obavezna</div>
                        </div>
                        <div class="spacing"></div>
                        <input type="password" formControlName="password" placeholder="Unesi lozinku" class="form-control input-md" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Lozinka je obavezna</div>
                        </div>
                        <div class="spacing"><a href="#"><small> Zaboravio si lozinku?</small></a><br /></div>
                        <button class="btn btn-light btn-sm pull-right">Uloguj se</button>
                        <p>
                            &nbsp;Još uvek nemaš nalog? <a routerLink="/register">Registruj se ovde</a>
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div *ngIf="error" class="alert alert-danger" role="alert">
        Nalog sa unestom email adresom ne postoji.<br> Možete se prijaviti pomoću ponuđenih servisa ili
        <a routerLink="/register" class="alert-link">kreirati nalog </a> na Foodie-u.</div>
</div>